# Don't include these files and directories when exporting archives
*.gitattributes export-ignore
/utils export-ignore
/tests export-ignore

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.php text
*.txt text
*.css text
*.ini text
*.htm text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.pdf binary
