language: php

dist: trusty

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - hhvm-3.3
  - hhvm-3.6
  - nightly

matrix:
  include:
    - env: LINT=1
      php: 5.6
    - env: COVERAGE=1
      php: 5.6
    - language: php
      sudo: required
      dist: trusty
      group: edge
      php: hhvm-nightly

  allow_failures:
    - php: nightly
    - php: hhvm-3.3
    - php: hhvm-3.6
    - php: hhvm-nightly

install:
  - composer self-update
  - composer install --ignore-platform-reqs

script:
  - |
    if [[ "$LINT" == "1" ]]; then
      ./vendor/bin/phpcs -v --report-width=160 --standard=ruleset.xml --severity=1 --warning-severity=0 --extensions=php src utils
    elif [[ "$COVERAGE" == "1" ]]; then
      vendor/bin/phpunit --coverage-text
    else
      vendor/bin/phpunit
    fi

notifications:
  email: change
