<phpunit
	bootstrap="tests/bootstrap.php"
    cacheResultFile="tmp/.phpunit.result.cache"
	colors="true"
	backupGlobals="false"
	beStrictAboutTestsThatDoNotTestAnything="false">

	<testsuites>
		<testsuite name="Tests">
			<directory suffix="Test.php">./tests</directory>
		</testsuite>
	</testsuites>

    <groups>
        <exclude>
            <group>snapshot</group>
        </exclude>
    </groups>

	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">src</directory>
		</include>
		<report>
			<html outputDirectory="build/coverage"/>
			<text outputFile="php://stdout" showOnlySummary="true"/>
		</report>
	</coverage>

</phpunit>
