<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	backupGlobals="false">

	<testsuites>
		<testsuite>
			<directory suffix=".php">./tests</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<file>mpdf.php</file>
			<directory suffix=".php">classes</directory>
		</whitelist>
	</filter>

</phpunit>
