/* Begin Page Definitions */ 

@page {
  size: 140mm 215mm;
  marks: crop;
}

@page titlepage {
  background-color: #dcdedb;
  background-image-resize: 0;
  background-repeat: no-repeat;
  background-position: 76mm 45mm;
  odd-footer-name: _blank;
  even-footer-name: _blank;
  margin-left: 12mm;
  margin-right: 12mm;
  margin-top: 122.5mm;
  margin-bottom: 15mm;
}

@page imprint {
  odd-footer-name: html_imprint-right;
  even-footer-name: html_imprint-left;
  margin-left: 42.5mm;
  margin-right: 12.5mm;
  margin-top: 12.5mm;
  margin-bottom: 15mm;
  margin-footer: 7mm;
}

@page separator {
  background-color: #dcdedb;
  background-image-resize: 0;
  background-repeat: no-repeat;
  background-position: 76mm 45mm;
  odd-footer-name: _blank;
  even-footer-name: _blank;
  margin-left: 12mm;
  margin-right: 12mm;
  margin-top: 122.5mm;
  margin-bottom: 15mm;
}

@page abbreviations {
  odd-footer-name: html_footer-right;
  even-footer-name: html_footer-left;
  margin-left: 12.5mm;
  margin-right: 12.5mm;
  margin-top: 12.5mm;
  margin-bottom: 15mm;
  margin-footer: 7mm;
  pagenumstyle: I; 
}

@page preface {
  odd-footer-name: html_footer-right;
  even-footer-name: html_footer-left;
  margin-left: 42.5mm;
  margin-right: 12.5mm;
  margin-top: 12.5mm;
  margin-bottom: 15mm;
  margin-footer: 7mm;
  pagenumstyle: I; 
}

@page foreword {
  odd-footer-name: html_footer-right;
  even-footer-name: html_footer-left;
  margin-left: 42.5mm;
  margin-right: 12.5mm;
  margin-top: 12.5mm;
  margin-bottom: 15mm;
  margin-footer: 7mm;
  pagenumstyle: 1;
}

@page normal {
  odd-footer-name: html_footer-right;
  even-footer-name: html_footer-left;
  margin-left: 12.5mm;
  margin-right: 12.5mm;
  margin-top: 12.5mm;
  margin-bottom: 15mm;
  margin-footer: 7mm;
}

/* End Page Definitions */

/* Begin Basic Fonts */

body {
  font-size: 8pt;
  line-height: normal;
  margin: 0;
  padding: 0;
  font-family: AmnestyTradeGothicLight;
  color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
}

h1 {
  font-size: 2.75rem;
  line-height: 2.66rem;
  margin-top: 1.33rem;
  margin-bottom: 0.9rem;
  padding: 0;
  font-family: AmnestyTradeGothicBdCn20;
  text-transform: uppercase;
}

h2, h3 {
  font-size: 1.33rem;
  line-height: 1.33rem;
  margin-top: 1.33rem;
  margin-bottom: 0;
  padding: 0;
  font-family: AmnestyTradeGothicBdCn20;
  text-transform: uppercase;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.33rem;
  margin: 0;
  padding: 0;
  font-family: AmnestyTradeGothicBdCn20;
}

td.footer {
  font-family: AmnestyTradeGothicCn18;
  font-size: 0.8rem;
}

/* End Basic Fonts */

/* Begin Title Page */

div.titlepage-content {
  page: separator;
}

/* End Title Page */

/* Begin Separator Page */

div.divider-content {
  page-break-before: right;
  page: separator;
}

p.divider-content-first {
  font-size: 3.6rem;
  line-height: 3.2rem;
  font-family: AmnestyTradeGothicBdCn20;
  text-transform: uppercase;
  font-weight: bold;
  color: #535657;
  padding-bottom: 1rem;
}

p.divider-content {
  font-size: 3.6rem;
  line-height: 3.2rem;
  font-family: AmnestyTradeGothicBdCn20;
  text-transform: uppercase;
  font-weight: bold;
}

/* End Separator Page */

/* Begin Imprint Page */

div#imprint {
  page: abbreviations;
}

p.intro-p-title {
  font-size: 2.75rem;
  line-height: 2.66rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1.33rem;
  padding: 0;
  font-family: AmnestyTradeGothicBdCn20;
  text-transform: uppercase;
}

p.intro-p-first {
  text-indent: 0;
  line-height: 1.4rem;
}

p.intro-p {
  text-indent: 1rem;
  line-height: 1.4rem;
}

p.intro-p-last {
  text-indent: 1rem;
  line-height: 1.4rem;
  margin-bottom: 50mm;
}

div.intro-imprint {
  line-height: 1rem;
  border-top: 45mm;
  font-size: 0.8rem;
  font-family: AmnestyTradeGothicCn18;
}

p.intro-imprint {
  margin-bottom: 0.35rem;
}

/* End Imprint Page */

/* Begin Table of Contents Pages */

h1.contents-heading {
  margin-top: 0;
  margin-bottom: 0.33rem;
 }

div.mpdf_toc  {
  font-size: 8.1pt;
  font-family: AmnestyTradeGothicLight;
}

span.mpdf_toc_t_level_0 {
  font-weight: normal;
  text-transform: capitalize;
}

/* End Table of Contents Pages */

/* Begin Abbreviations Pages */

div#abbreviations {
  page: abbreviations;
}

h1.abbreviations-heading {
  margin: 0;
 }

h2.abbreviation-term {
  text-transform: none;
  font-family: AmnestyTradeGothic;
  font-size: 1rem;
}

/* End Abbreviations Pages */

/* Begin Preface Page */

div#preface {
  page: preface;
}

p.preface-p-first {
  text-indent: 0;
}

p.preface-p {
  text-indent: 1rem;
}

/* End Preface Page */

/* Begin Foreword and Overview Pages */

div#human-rights-know-no-border {
  page: foreword;
}

div.text-quote {
  font-family: AmnestyTradeGothicBdCn20;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.9rem;
}

p.text-quote {
  margin-bottom: 0.35rem;
}

div.author {
  font-family: AmnestyTradeGothic;
  font-size: 1rem;
  line-height: 1.33rem;
  font-weight: bold;
  border-bottom: 0.1rem solid black;
  padding-bottom: 1rem;
  margin-bottom: 0.9rem; 
}

p.text-p-first {
  page: normal;
  text-indent: 0;
}

p.text-p {
  text-indent: 1rem;
}

div#africa, div#americas, div#pacific, div#europe-and-central-asia, div#middle-east-and-north-africa {
  page-break-before: always;
}

/* End Foreword and Overview Pages */

/* Begin Country Pages */

div#afghanistan {
  page: normal;
}

div.country-fact {
  font-family: AmnestyTradeGothicCn18;
  line-height: normal;
  margin-top: 0.875rem;
  border-top: 0.125rem solid;
  padding-top: 0.33rem;
  padding-bottom: 0.66rem;
  border-bottom: 0.062rem solid;
  margin-bottom: 0.608rem;
}

div.country-name {
  font-weight: bold;
}

span.head-of-state {
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0;
}

p.country-intro-text {
  line-height: normal;
  font-weight: bold;
}

p.country-p {
  text-indent: 1em;
}

ol.endnotes {
  font-family: AmnestyTradeGothicCn18;
  font-size: 0.75rem;
  line-height: 1.33rem;
  margin-top: 1.33rem;
  border-top: 0.06rem solid black;
  padding-top: 1.27rem;
  padding-bottom: 0;
  padding-left: 3mm;
  margin-bottom: 0;
}

/* End Country Pages */
